alembic==0.9.7
Flask==0.12.2
flask-buzz==0.1.3
Flask-Cors==3.0.3
Flask-Mail==0.9.1
flask-marshmallow==0.8.0
Flask-Migrate==2.1.1
flask-restplus==0.10.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
psycopg2==2.7.3.2
SQLAlchemy==1.2.0
Werkzeug==0.12
wsgi-request-logger==0.4.6
zappa==0.45.1
pip==9.0.3